.game-board {
    position: relative;
    margin: 0 auto;
    background-color: var(--c64-bg);
    border: 4px solid var(--c64-border);
}

.cell {
    position: absolute;
    box-sizing: border-box;
}

.cell-1 {
    background-color: var(--c64-border);
    border: 1px solid var(--c64-bg);
}

.cell-2::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background-color: #fab48c; /* Pellet color */
    transform: translate(-50%, -50%);
}

.pacman {
    position: absolute;
    background-color: #FFFF00;
    border-radius: 50%;
    z-index: 10;
    transition: left 0.15s linear, top 0.15s linear;
}

.score-display {
    position: absolute;
    top: -30px;
    left: 0;
    color: var(--c64-text);
    font-size: 24px;
}

.cell-3::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fab48c; /* Power Pellet color */
    transform: translate(-50%, -50%);
    animation: blink 0.5s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.ghost {
    position: absolute;
    border-radius: 50% 50% 0 0;
    z-index: 10;
    transition: left 0.15s linear, top 0.15s linear;
}
