/* Specific App styles */
header h1 {
    color: var(--c64-fg);
    text-shadow: 2px 2px 0 #000;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: var(--game-height);
}


footer p {
  color: var(--c64-fg);
}
