name: Build and Push Image

on:
  workflow_call:
    inputs:
      acr_login_server:
        required: true
        type: string
      acr_name:
        required: true
        type: string
      image_tag:
        required: true
        type: string
    secrets:
      AZURE_CLIENT_ID:
        required: true
      AZURE_CLIENT_SECRET:
        required: true
      AZURE_SUBSCRIPTION_ID:
        required: true
      AZURE_TENANT_ID:
        required: true

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: |
            {
              "clientId": "${{ secrets.AZURE_CLIENT_ID }}",
              "clientSecret": "${{ secrets.AZURE_CLIENT_SECRET }}",
              "subscriptionId": "${{ secrets.AZURE_SUBSCRIPTION_ID }}",
              "tenantId": "${{ secrets.AZURE_TENANT_ID }}"
            }

      - name: Login to ACR
        run: |
          az acr login --name ${{ inputs.acr_name }}

      - name: Build and Push Docker Image
        env:
          IMAGE_TAG: ${{ inputs.image_tag }}
        run: |
          IMAGE_NAME="${{ inputs.acr_login_server }}/pacman:$IMAGE_TAG"
          IMAGE_LATEST="${{ inputs.acr_login_server }}/pacman:latest"
          
          # Build the image with release tag
          docker build -t $IMAGE_NAME -t $IMAGE_LATEST .
          
          # Push both tags
          docker push $IMAGE_NAME
          docker push $IMAGE_LATEST
